<navtabs page-name="state.pageName"></navtabs>
<div class="paddinglr10">
  <h1>SpitList</h1>
  <form ng-submit="addItem()">
    <fieldset>
     <input id="description_input" class="add_item_input" ng-enter type="text" placeholder="Description..." size=50 ng-model="item_description" w-mousetrap="{'shift+enter': focus_main}"/>
     <input id="complete_by_input" class="add_item_input" ng-enter placeholder="Complete by..." type="text" size=50 ng-model="new_date" />
     <br/>
     <br/> 
     <ul class="list-inline">
	     <li>
	     	<button type="button" ng-click="addTodo(item_description, new_date)" w-mousetrap="{'c': create}"  class="btn btn-success btn-default"> <span class="glyphicon glyphicon-plus"></span></button>

	     </li>
	      <li>
		      <button type="button" ng-click="deleteTodo()" w-mousetrap="{'shift+d': deleteTodo}"  class="btn btn-danger btn-default">
			  <span class="glyphicon glyphicon-minus"></span></button>

		  </li>
		  <li>
			  <button type="button" ng-click="changeColor()" w-mousetrap="{'shift+c': changeColor}" class="btn btn-warning">
			  <span class="glyphicon glyphicon-tint"></span></button>

		 </li>
		 <li>
	 	   <div class="btn-group" ng-model='sortOrder'>
			  <button type="button" value='date' class="btn btn-sm">Date</button>
			  <button type="button" value='starred' class="btn btn-sm">Starred</button>
			</div>
		 </li>
	</ul>

    </fieldset>
  </form>
  <div class="table">
    <div>
      <div id="todolist-container" w-mousetrap="{'j': next, 'k': prev, 'esc': unfocus}" ng-repeat="item in todoList | orderBy: 'date'">
        <todo-item></todo-item>
      </div>
    </div>
  </div>
</div>