<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<div ng-app="TodoApp">
	  <div ng-view></div>
	</div>
<script src="/static/behavior/angular-route/angular-route.js"></script>
	<link href="/static/presentation/index.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script src="/static/behavior/bootstrap-file-input/bootstrap.file-input.js"></script>

    <div id="tasks" style="margin-left: 35%;">
    	Spit List (:
    </div>
{% endblock %}
