<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<link href="/static/presentation/index.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script src="/static/behavior/bootstrap-file-input/bootstrap.file-input.js"></script>

    <div id="tasks">
    	No Tasks
    </div>
    <a href="#" onclick="get_tasks(1);">Get Tasks</a>
    <a href="#" onclick="create(1);">Create Tasks</a>
    <a href="#" onclick="edit_description(1, 'hello');">Edit Description</a>
    <a href="#" onclick="move_date(1, 1234);">Move Date</a>
    <a href="#" onclick="delete_task();">Delete Task</a>

{% endblock %}
